<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>設定</title>
</head>
<body>
    <h1>Set Raspberry Pi Static IP</h1>
    <form method="post">
        <label for="ip">IP Address:</label>
        <input type="text" id="ip" name="ip" value="<%= ip %>" required><br>
        <label for="netmask">Netmask:</label>
        <input type="text" id="netmask" name="netmask" value="<%= netmask %>" required><br>
        <label for="gateway">Gateway:</label>
        <input type="text" id="gateway" name="gateway" value="<%= gateway %>" required><br>
        <button type="button" id="setIP">Set IP</button>
    </form>
    <script>
        var ip = document.getElementById('ip');
        var netmask = document.getElementById('netmask');
        var gateway = document.getElementById('gateway');
        var data = {
            ip: ip.value,
            netmask: netmask.value,
            gateway: gateway.value
        }
        document.getElementById('setIP').addEventListener('click', function() {
            if (ip.checkValidity() && netmask.checkValidity() && gateway.checkValidity()) {
                console.log('Setting IP address');
                console.log(data);
                fetch('/set-ip', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                }).then(function(response) {
                    if (response.status === 0) {
                        console.log('IP address set successfully');
                        window.location.href = `http://${response.newIP}:5000/Setting`;
                    } else {
                        console.log('Failed to set IP address');
                    }
                });
            }
        });
    </script>
</body>
</html>
